@import '../../mixin.scss';

.image-container{
    padding-top:20px;
    display: flex;
    justify-content:center;
    align-items: center;
    img{
        width: 60%;
        height: 60%;
        object-fit: contain;
    }
}

.modal-body{
    padding: 0 10px 10px 0;
    .text-container{
        text-align: center;
        h4{
            padding: 12px;
            color: $blue_project;
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 15px;
        }
        p{
            margin: 0;
            font-size: 16px;
        }
        .row-container{
            .penis{
                width: 50%;
                align-items: center;
            }
            display: flex;
            justify-content: center;
        }
            
        .borderP{
            padding: 5px;
            border-radius: 8px;
            width: 45%;
            border: 1px solid $light_grey;
            p{
                font-size: 17px;
            }
        }  
    }
}

.button-container{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    .button-ok{
        align-self: center;
        background-color: $blue_project !important;
        border-color: $blue_project !important;
        outline: none;
        width: 60%;
    }
}

@media screen and (max-width: 414px) {
    .borderP{
        padding: 0 !important;
        max-height: 125px !important;
        overflow: auto !important;
        p{
            font-size: 14px !important;
        }
    }
    .image-container{
        margin-top: -10px !important;
        margin-bottom: -20px !important;
        
    }
    .modal-content{
        height: 500px !important;
    }
    h4{
        font-size: 26px !important;
    }
    p{
        font-size: 16px !important;
    }
}


@media screen and (max-width: 325px) {
    .borderP{
        p{
            font-size: 13px !important;
        }
    }
    p{
        font-size: 14px !important;
    }
}


