@import '../../mixin.scss';

#second-page{
    scroll-snap-align: center;
    height: 100vh;
    background: url('../../images/background-2.jpg') no-repeat 0px bottom;
    div{
        display: flex;
        flex-direction: row;
        
        .description-container{
            width: 50%;
           
            padding: 70px 0 70px 120px;
            flex-direction: column;
            a{  
                text-align: center;
                font-size: 65px;
                color:$blue_project;
                font-weight: 600;
            }
            p{
                justify-self: flex-end;
                font-size: 28px;
                color:#777;
                font-weight: 600;
            }
            .satelite{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                transform: rotate(110deg);
                padding:150px 0;
                width: 150px;
                align-self: flex-end;

            }
            .satelite2{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                transform: rotate(110deg);
                align-self: center;
                width: 150px;
            }
            
        }
        .image-container{
           
            padding:90px 0;
            img{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                width: 900px;
                height: 700px;
            }
            
        }
    }
}


@media screen and (max-width: 1552px) {
    #second-page{
        .satelite2{
            margin-top: -100px !important;
        }
    }
    
}

@media screen and (max-width: 1425px) {
    #second-page{
        
        .description-container{
            a{
                font-size: 50px !important;
            }
            p{
                font-size: 25px !important;
            }
            .satelite{
                margin-top: -60px !important;
                padding-top: 90px !important;
                
            }
            
        }
        .image-container{
            width: 50% !important;
            img{
                
                width: 900px;
                
            }
        }
    }
    
}


@media screen and (max-width: 1454px) {
    #second-page{
        .satelite2{
            margin-top: -100px !important;
        }
    }
    
}

@media screen and (max-width: 1380px) {
    #second-page{
        .image-container{
            width: 50% !important;
            img{
                width: 100% !important;
                
            }
        }
        .satelite2{
            margin-top: 0 !important;
        }
    }
    
}

@media screen and (max-width: 1024px) {
    #second-page{
        div{
            flex-direction: column !important;
            .description-container{
                padding:70px !important;
                width: 100% !important;
                a{
                    font-size: 45px !important;
                }
                p{
                    font-size: 23px !important;
                }
                .satelite{
                    display: none !important;
                }
                .satelite2{
                    display: none !important;
                }
            }
            .image-container{
                padding: 0 !important;
                width: 100% !important;
                img{
                    height: 10% !important;
                    width: 70% !important;
                }     
            }
        }
    }
}


@media screen and (max-width: 430px) {
    #second-page{
        div{
            flex-direction: column !important;
            .description-container{
                padding:30px !important;
                width: 100% !important;
                a{
                    font-size: 30px !important;
                }
                p{
                    font-size: 19px !important;
                }
                .satelite{
                    display: none !important;
                }
                .satelite2{
                    display: none !important;
                }
            }
            .image-container{
                padding: 0 !important;
                width: 100% !important;     
                img{
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    #second-page{
        div{
            flex-direction: column !important;
            .description-container{
                padding:40px !important;
                width: 100% !important;
                a{
                    font-size: 30px !important;
                }
                p{
                    font-size: 19px !important;
                }
                .satelite{
                    display: none !important;
                }
                .satelite2{
                    display: none !important;
                }
            }
            .image-container{
                padding: 0 !important;
                width: 100% !important;     
            }
        }
    }
}

@media screen and (max-width: 323px) {
    #second-page{
        div{
            flex-direction: column !important;
            .description-container{
                width: 100% !important;
                a{
                    font-size: 28px !important;
                }
                p{
                    font-size: 16px !important;
                }
                .satelite{
                    display: none !important;
                }
                .satelite2{
                    display: none !important;
                }
            }
            .image-container{
                padding: 0 !important;
                width: 100% !important;     
            }
        }
    }
}