@import '../../mixin.scss';

#background{
    height: 100vh;
    background: url('../../images/background.jpg') no-repeat 0px bottom;

    .map{
        padding-top: 6px;
        width: 100%;
        display: flex;
        justify-content: center;
        
        .leaflet-container{
            border-radius: 6px;
            width:700px;
            height: 400px;
        }
    }
    
    .neighborhoods{
        flex-wrap: wrap;
        max-width: 650px;
        display: flex;
        justify-content: center;
        .botao-neighborhoods{
            background-color: $blue_project !important;
            border-color: $blue_project;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    .search{
        align-items: center;
        justify-content: center;
        padding-top: 270px;
        width:100% !important;
        text-align: center;
     
        &.active{
            padding-top: 50px;
        }
        
        a{   
             z-index: 2;
             font-weight: 600;
             color: $grey !important;
             font-size: 45px;
             letter-spacing: 1.3px;
         
        }
     
        a:first-of-type{
            margin-right: -15px;
        }
        a:last-of-type{
            margin-left: -17px;
        }
     
        img{
            z-index: 1;
            margin-top:-50px;
            width: 70px;
            padding-bottom: 30px;
        }
     
        .d-flex{
            display: flex;
            align-items: center;
            justify-content: center;
             
            #ir{
                margin-top: -15px;
                height: 47px;
                width:100%;
                background-color: $blue_project;
                border-color: $blue_project;
            }
         
            .form-search{
                width: 500px;
            }
        }
         
        button{
            outline: none;
            border: 0;
            background-color:transparent ;
        
            h1{
                padding-bottom: 12px;
                color: $grey;
                font-size: 18px;
            }
        }
         
     }
     .button-hide{
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
        button{
            outline: none;
            border: 0;
            background-color:transparent ;
                h1{
                    padding-top: 7px;
                    color: $grey;
                    font-size: 18px;
                }
        }
    }

    .logo{
        width:35px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 1024px) {
    #background{
        background: url('../../images/background.jpg') repeat-y 0px bottom !important;
    }
    
}

@media screen and (max-width: 697px) {
    
    .leaflet-container{
        width:600px !important;
        height:350px !important;
    }
    
}

@media screen and (max-width: 602px) {
    .form-search{
        width: 350px !important;
        .form-control{
            font-size: 18px;
        }
    }
    .leaflet-container{
        width:500px !important;
        height:330px !important;
    }
}

@media screen and (max-width: 492px) {
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 350px !important;
        .form-control{
            font-size: 18px;
        }
    }
    .leaflet-container{
        width:420px !important;
        height:270px !important;
    }
}

@media screen and (max-width: 433px) {
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
        .form-control{
            font-size: 14px;
        }
    }
    .leaflet-container{
        width:350px !important;
        height:220px !important;
    }
}

@media screen and (max-width: 412px) {
    .search{
        padding-top: 90px !important;
    }

    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
    }
}

@media screen and (max-width: 375px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 45px !important;
        }
    }
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
    }
    .leaflet-container{
        width:330px !important;
        height:190px !important;
    }
    .neighborhoods{
        width: 300px !important;
        height:200px !important;
        max-width: 100% !important;
        max-height: 150px !important;
        overflow: auto !important;
        .botao-neighborhoods{
            font-size: 0.9rem !important;
            margin-top: 0 !important;
            margin-bottom: 5px !important;
            width:140px !important;
            height:30px !important;
        }
    }
}


@media screen and (max-width: 362px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 45px !important;
        }
    }
    a{   
        font-size: 35px !important;
    }
    .form-search{
        width: 250px !important;
    }
    .leaflet-container{
        width:330px !important;
        height:190px !important;
    }
    .neighborhoods{
        width: 300px !important;
        height:200px !important;
        max-width: 100% !important;
        .botao-neighborhoods{
            margin-top: 0 !important;
            width:140px !important;
            height:30px !important;
        }
    }
}

@media screen and (max-width: 323px) {
    .search{
        padding-top: 40px !important;
        a{
            font-size: 30px !important;
        }
        img{
            width: 35px !important;
        }
    }
    a{   
        font-size: 30px !important;
    }
    .form-search{
        width: 190px !important;
    }
    .leaflet-container{
        width:270px !important;
        height:160px !important;
    }
    .neighborhoods{
        width: 300px !important;
        height:200px !important;
        max-width: 100% !important;
        .botao-neighborhoods{
            padding:0 !important;
            margin-top: 0 !important;
            width:110px !important;
            height:25px !important;
        }
        .btn{
            padding:0 !important;
    
        }
    }

}





